@import url(https://iosevka-webfonts.github.io/iosevka/Iosevka.css);

:root {
  --bs-font-monospace: 'Iosevka Web', monospace
}

code {
  // vertically centred asterisks
  font-feature-settings: "cv99" 3;
}

// somehow this is hard-coded to 'sans-serif' in the theme
// let's use one single font consistently
#topbar-title {
  font-family: $font-family-heading !important;
}
